.section{
    width: 90%;
    height: 80%;
    
    padding: 2rem;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%)
    
}

.section h1 {
    text-align: center;
    margin: 2rem;
}

.user {
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;

}

.user img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user a{
    text-decoration: none;
    color: grey;
}

.users {
    display: flex;
    flex-wrap: wrap;

}